@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

.jumbotron {
    background-color:transparent;
    color:ivory;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;

}


body {
    background-image: url("https://source.unsplash.com/2300x2300/?time");
    font: white;
}

.lead {
    color:orange;
    font-weight: bolder;
}
.container .hour {
    font:orange;
}